extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Bilgisayar Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 1km
        p.address SDÜ Batı Kampüsü 
        p 
          span.label.label-warning Mühendis Gençler 
          | &nbsp;
          span.label.label-warning Sinan Hoca
  
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Bilgisayar Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-deafult 1km
        p.address SDÜ Batı Kampüsü 
        p 
          span.label.label-warning Mühendis Gençler 
          | &nbsp;
          span.label.label-warning Sinan Hoca

  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Bilgisayar Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-deafult 1km
        p.address SDÜ Batı Kampüsü 
        p 
          span.label.label-warning Mühendis Gençler 
          | &nbsp;
          span.label.label-warning Sinan Hoca





        

 
