extends layout

block content
  .row.page-header 
    .col-lg-12 
      h1=baslik
  .row 
    .col-xs-12.col-md-6 
      form.form-horizontal(action='',method='post',role='form') 
        .form-group
          label.col-xs-10.col-sm-2.control-label(for='adsoyad') Ad Soyad
          .col-xs-12.col-sm-10 
            input#name.form-control(name='adsoyad')
        .form-group
          label.col-xs-10.col-sm-2.control-label(for='eposta') Eposta 
          .col-xs-12.col-sm-10 
            input#name.form-control(name='eposta')

        .form-group
          label.col-xs-10.col-sm-2.control-label(for='sifre') Şifre
          .col-xs-12.col-sm-10 
            input#name.form-control(name='sifre')

        button.btn.btn-default.pull-right() Kayıt Ol
  
    
        